@import url(style/header.css);

:root{
    --cor-de-fundo:#ebecee;
    --branco:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
}